PORT=3000
NODE_ENV=development
APP_ENV=development
JWT_SECRET=
DB_HOST=db
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=consignart
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN='7d'